{%  extends 'base.html.twig' %}
 {% block NavContent %}

 {% endblock %}
{% block body %}

    <div class="search-content" >
        <form method="POST" class="search_form" name="rs" action="{{ path('rechercheP') }}">
            <div class="search_bar">


                <input type="text"  style="width: 400px" class="search-input" name="tfrech" placeholder="Rechercher"/>
                <input type="Submit" class="btn btn-primary" value="Search"/>
            </div>
        </form>
    </div>
<div class="photos-search">
    <div class="pic-explore">
{% for f in tab %}

    <div style="width: 18rem">
        <a href={{ path('comment',{'id':f.idPhoto}) }} ><img src="{{ asset(f.url)}}" class="search-img" alt="..." ></a>
    </div>

{% endfor %}
    </div>
</div>
{% endblock %}